emailresponse.json
{
  "name": "emailresponse",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "97c7f638-3555-4e3f-bb4b-311b0f4a8912",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fqv9SKOsvMkX6c1f",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cb72978d-2bd6-4abb-8657-55d132fc4a87",
              "leftValue": "{{ $json.from.value[0].address }}",
              "rightValue": "a.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "d80a092c-9ab3-4b0a-b681-f24bf252de15",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "Você é um agente comercial especializado em venda de cursos online. O seu objetivo é tirar dúvidas dos Programas Online da Hashtag Treinamentos. Seguem informações abaixo:\n \n1. QUE SERVIÇO VOCÊS SÃO ESPECIALIZADOS?\nAqui na Hashtag você encontra  treinamentos online  voltados para o mercado de trabalho.\nOferecemos cursos das principais ferramentas utilizadas profissionalmente, que são:\nExcel\nPower BI\nPython\nInteligência Artificial\nJavaScript\nHTML & CSS supor\nSQL\nPower Automate\nVBA\nPowerPoint\nCiência de Dados\nInclusive, temos mais de 170.000 alunos na Hashtag\nMas me conta, qual desses treinamentos desperta mais seu interesse?\n2. QUAIS CURSOS DE PROGRAMAÇÃO A HASHTAG POSSUI?\nOpa, aqui na Hashtag temos cursos das linguagens de programação mais importantes e usadas no mercado de trabalho que são:\nPython\nJavaScript\nHTML & CSS\nSQL\nFull Stack\nCiência de Dados\nMas me conta, qual desses treinamentos desperta mais seu interesse?\n3. COMO SEI QUE ESSA É UMA EMPRESA CONFIÁVEL?\nOpa, vou compartilhar alguns dados com você para reforçar o quanto somos uma empresa confiável e comprometida, tá bem?\nTemos mais de 170 mil alunos treinados em todo o Brasil.\nNo nosso canal no YouTube, temos mais de 1,5 milhão de inscritos. É só procurar por “Hashtag Treinamentos”. Por lá você verá diversas avaliações positivas, tanto dos nossos seguidores quanto dos nossos alunos.\nPossuímos selo de confiança do Reclame Aqui. Com uma reputação avaliada como ótima pelos consumidores e com uma nota de 9.1.\nTodos os nossos programas são extremamente didáticos, com índice de satisfação superior a 85% e levam qualquer um do básico até o nível Impressionador, que está além do avançado\nAlém dos cursos próprios, a Hashtag já realizou treinamentos in-company em grandes empresas como LinkedIn, L’Oreal, Coca-Cola, AirFrance, Rappi, Nestlé, Grupo Soma, Globo, Repsol, Electrolux e centenas de outras empresas.\nEntão, pode ter certeza de que está falando com uma empresa de confiança e referência no mercado!\n4. TEM AULA OU CURSO PRESENCIAL?\nNo momento nossos cursos são com aulas gravadas e possuem um acesso de 12 meses.\nEntão durante todo esse período, você poderia assistir e reassistir as aulas gravadas quantas vezes e quando quiser no seu próprio tempo. Sem se preocupar com o horário.\nE para melhorar mais ainda, no pacote dos cursos está incluso suporte a dúvidas da nossa equipe de experts. Então de segunda à sexta você pode tirar qualquer dúvida sobre a ferramenta do curso e em 24 horas alguém da nossa equipe vai te responder de forma individual para te ajudar.\nAlém disso, aqui na Hashtag trabalhamos com uma garantia incondicional de 7 dias. Isso significa que durante os 7 primeiros dias, você poderia testar ilimitadamente nosso curso e verificar se consegue se adaptar. Caso ache que o investimento não foi prov eitoso, você pode requisitar o reembolso integral do valor pago. A ideia é deixar você sem nenhum risco sobre a decisão que está tomando.\nMas me conta, por acaso você estaria buscando algum curso específico?\n5. NÃO TEMOS PREVISÃO PARA UMA TURMA PRESENCIAL\nNo momento não temos previsão para uma turma presencial. Por enquanto o nosso foco está sendo 100% nos nossos cursos online\n6. QUAIS AS REDES SOCIAIS?\nVocê pode nos acompanhar nas seguintes páginas de Instagram\nHashtag Treinamentos: https://www.instagram.com/hashtagtreinamentos/\nHashtag Programação: https://www.instagram.com/hashtagprogramacao/\nHashtag Inglês: https://www.instagram.com/hashtag.ingles/\n7. QUAIS SÃO OS EVENTOS GRATUITOS?\nOpaaa, além dos nossos vídeos gratuitos no YouTube, também temos eventos 100% online e gratuitos\nEventos com 4 aulas ao vivo (com 2h de duração cada aula) e conteúdos que vão te ajudar a impressionador e se tornar uma referência no mercado de trabalho: Jornada Python,Jornada Inteligência Artificial e Intensivão de Power BI.\nEventos com 1 aula online (com 1h30min de duração) com conteúdo direto ao ponto para te ajudar a se destacar: Masterclass Análise de Dados, Masterclass Inteligência Artificial e Masterclass Ciência de Dados.\nLives ao vivo de apresentações dos nossos cursos impressionadores: Live Comunidade\nImpressionadora, Live SQL Impressionador e Live Full Stack Impressionador.\nCOMUNIDADE IMPRESSIONADORA\n \n8. O QUE É A COMUNIDADE IMPRESSIONADORA?\nPARTE 1:\nA Comunidade é o nosso pacote especial de cursos completos e impressionadores. Você vai encontrar tudo o que você precisa saber para se destacar no Mercado de Trabalho, usando as ferramentas e linguagens de programação mais importantes\nExcel:\nPower BI\nInteligência Artificial\nVBA\nPowerPoint\nPython\nSQL\nJavaScript\nHTML & CSS\nPower Automate\nPARTE 2:\nVocê terá 12 meses de acesso irrestrito a todos estes cursos  - e a vários outros bônus – com possibilidade de renovação no fim desse período\nMas para melhorar mais ainda, você terá acesso não só aos cursos completos, mas também ao material didático complementar de cada um deles, certificado de conclusão para cada curso finalizado e ao suporte de dúvidas com nossa equipe de especialistas e com a  nossa IA, o Hashbot.\nLiteralmente tudo o que você precisa para virar uma referência em qualquer empresa\nPARTE 3:\nVou deixar aqui no nosso chat o link da página com todas as informações sobre a Comunidade Impressionadora\nhttps://blp.hashtagtreinamentos.com/comunidade-impressionadora/pg-inscricao-comunidade-impressionadora?src=lescom-jv\nSeria bacana você dar uma olhadinha até pra entender melhor como funciona o pacote e qual é a proposta do nosso treinamento. E, se você quiser, pode fazer sua inscrição por esse link mesmo!\nCaso você tenha qualquer dúvida com as informações do site, corre aqui que eu te explico tudo que precisar, tá bem?\n9. QUAIS SÃO TODOS OS CURSOS COMPLETOS DA COMUNIDADE?\nCursos impressionadores: Excel, Power BI, Python, Inteligência Artificial, Análise de Dados, HTML & CSS, JavaScript, SQL, Power Automate, Full Stack, Front End, VBA e PowerPoint;\n10. PODE ME ENVIAR AS EMENTAS DOS CURSOS COMPLETOS DA COMUNIDADE?\nPower BI : https://tinyurl.com/ementa-powerbi\nExcel : https://tinyurl.com/ementa-excel\nPython: https://tinyurl.com/ementa-python\nInteligência Artificial : https://tinyurl.com/ementa-ia\nHTML & CSS : https://tinyurl.com/ementa-htmlcss\nJavaScript : https://tinyurl.com/ementa-javascript\nSQL: https://tinyurl.com/ementa-sql\nPower Automate : https://tinyurl.com/ementa-powerautomate\nVBA:  https://tinyurl.com/ementa-vba\nApresentações/Power Point : https://tinyurl.com/ementa-powerpoint\n11. PODE ME ENVIAR AS EMENTAS DOS BÔNUS?\nPower Apps: https://tinyurl.com/ementa-powerapps\nAnálise de Dados: https://tinyurl.com/ementa-analisededados\nFull Stack: https://tinyurl.com/ementa-fullstack\nAWS: https://tinyurl.com/ementa-aws-impressionador\n12. MAIS DETALHES SOBRE OS CURSOS COMPLETOS DA COMUNIDADE:\nPARTE 1:\nVou resumir para você cada um dos cursos completos da Comunidade Impressionadora:\nO Power BI Impressionador é o nosso curso completo de Power BI, com mais de 112h de conteúdo e mais de 400 aulas, desde o nível básico, te ensinando a parte de importação de dados e ETL, até o nível avançado, com criação de dashboards, Power BI Online e DA X avançado.\nO Excel Impressionador é o nosso curso completo de Excel, que possui 110h de conteúdo e mais de 500 aulas, do básico ao avançado. Nele, você aprenderá desde conceitos introdutórios até a criação de planilhas e dashboards com recursos avançados.\nO Python Impressionador é o nosso curso completo de Python, com mais de 150h de conteúdo e maisde 600 aulas, te ensinando desde o básico do básico em Python, até a parte de projetos mais avançados de automação web, análise de dados, desenvolvimento de sit es e aplicativos. Não só isso, como você vai sair do curso com um portfólio de projetos completo!\nPARTE 2:\nO Inteligência Artificial Impressionador possui mais de 40h de conteúdo e mais de 170 aulas, para te ajudar a desvendar o mundo da Inteligência Artificial. No curso, apresentamos as principais IAs e aplicações reais do mercado de trabalho. Não só isso, com o também aprofundamos configurações avançadas em IAs tanto gratuitas, quanto pagas.\nO JavaScript Impressionador, é o nosso curso completo de JavaScript, atualmente com mais de 500 aulas e 117h de conteúdo. Você vai aprender não só os fundamentos básicos, intermediários e avançados de JavaScript, como também vai aprender sobre Back -end, Fr ont-end, Full Stack, a integrar o JavaScript com bancos de dados, além de Node JS,  React JS e muito mais.\nO HTML & CSS é o nosso curso completo de HTML & CSS, atualmente com mais de 295 aulas e 72h de conteúdo. Você vai aprender não só os fundamentos básicos, intermediários e avançados de HTML e CSS, como também vai aprender a integrar com os principais frameworks.\nPARTE 3:\nO Análise  de Dados Impressionador possui mais de 180h de conteúdo e mais de 900 aulas. Vamos te ensinar tudo o que você precisa para dominar as habilidades de Análise de Dados com Excel, PowerBI, SQL e Python. O programa é realmente completo e você vai aprender a resolver desafios reais de Análise de Dados em diferentes áreas. Por isso, vamos te mostrar os 3 pilares da Análise de Dados:\nFerramenta de Análises e Visualização de Dados + Programação + Negócios.\nNo Power Automate Impressionador você vai aprender a usar todas as funcionalidades do PowerAutomate e integrações com as ferramentas mais importantes do mercado. Não só isso, como também vamos construir projetos práticos, justamente com a realidade do dia  a dia das empresas.\nAtualmente, o curso possui mais de 100 aulas, totalizando 14 horas de conteúdo. Mas isso é só o começo! A cada mês, vamos liberar novas aulas.\nO SQL Impressionador, o nosso curso completo de SQL, com 89h de conteúdo e mais de 700 aulas passo a passo, te ensinando a utilizar o SQL nos principais sistemas de bancos de dados (SQL Server,MySQL, PostgreSQL e Oracle) além de projetos de Integração do SQL com o Power BI e Excel.\nPARTE 4:\nO VBA Impressionador é o nosso curso completo de VBA, e conta com mais de 80h de conteúdo e mais de 400 aulas. O VBA é a linguagem de programação para automatização de planilhas, muito utilizada para melhorar ainda mais a utilização das suas planilhas em Excel.\nO PowerPoint Impressionador é o nosso curso completo de PowerPoint, com 27h de conteúdo e mais de 100 aulas bem passo a passo, que vão te ensinar não só a utilizar\na ferramenta, como também disponibilizar técnicas para melhorar suas apresentações.\n13. PARA QUE SERVE CADA FERRAMENTA DOS CURSOS COMPLETOS?\nPARTE 1:\nO Power BI é uma ferramenta da Microsoft para Business Intelligence. Muito utilizada para apresentação e análise de dados. Seu principal objetivo é a criação de dashboards e apresentações gráficas para mostrar resultados de um negócio. O Power BI é uma fer ramenta que tem diversos recursos e ferramentas avançadas para criação de análises e cálculos relacionados à análise dos dados.\nO Excel é de longe a ferramenta mais utilizada pelas empresas. É muito difícil você encontrar uma empresa que não utilize uma planilha em Excel para criação, controle e gerenciamento de dados.\nO Python é a linguagem de programação que mais cresce no mundo. O objetivo do Python é criar códigos que tornam automáticas as tarefas de uma empresa. Ou seja, com uma série de comandos é possível executar qualquer tarefa, desde enviar um e -mail de forma a utomática até criar aplicativos para uma determinada atividade. Além disso, com o Python também é possível desenvolver e criar diversos sites e sistemas.\nPARTE 2:\nO HTML e CSS são as linguagens de programação utilizadas para criar e estilizar sites na WEB. Todo e qualquer site existente hoje na Internet, utiliza essas duas linguagens em seus códigos. O HTML atua na parte da construção da estrutura do site, já o CSS atua na estilização das páginas. Então, enquanto o HTML monta o esqueleto da página, o CSS deixa a página bonita e visual. O HTML e o CSS atuam em conjunto para criar páginas bonitas e bem estruturadas.\nO JavaScript é a linguagem de programação que é usada por 98,3% dos sites e te permite ser umdesenvolvedor full stack, aprendendo: Desenvolvimento Front -end (o que o usuário vê), desenvolvimento Backend (a inteligência por trás dos sites e aplicativos sem  o usuário ver), banco de Dados (a parte de armazenamento de informações).\nO SQL é a linguagem de programação mais importante para trabalhar com grande volume de informações – os chamados Bancos de Dados, já que com o SQL, você consegue criar os Bancos de Dados, editar, extrair e analisar as informações desses Bancos de Dados das  empresas.\nPARTE 3:\nO Power Automate é uma ferramenta da Microsoft que permite automatizar tarefas e processos repetitivos sem a necessidade de programação. Ele se integra facilmente com uma ampla gama de serviços e aplicativos, facilitando a transferência e sincronização de dados. Com o Power Automate, você pode aumentar a eficiência e a produtividade, reduzir erros humanos e criar fluxos de trabalho personalizados para atender às necessidades específicas do seu negócio.\nO VBA é a linguagem de programação por trás dos programas do Microsoft Office: Word, Excel, PowerPoint e Outlook. Com essa linguagem, é possível criar códigos para automatizar tarefas realizadas em qualquer um desses programas, seja para automatizar a criação de documentos em word, envio de e -mails, automatizar apresentações no PowerPoint ou até mesmo fazer com que esses programas comuniquem-se entre si.\nJá o PowerPoint, é um programa para criação de apresentações. Ainda é o programa para criação de apresentações mais popular atualmente.\n14. AS FERRAMENTAS DOS CURSOS COMPLETOS SÃO GRATUITAS OU PAGAS?\nOpaaa, você pode ficar tranquilo que a grande maioria das ferramentas dos cursos da Comunidade Impressionadora são 100% gratuitas! Como o Power BI, Python, Power Automate, SQL, Power Apps, HTML & CSS e JavaScript.\nAs únicas ferramentas que não são gratuitas são o Excel e o PowePoint, onde seria necessário a assinatura do Pacote Office.\nMas no próprio site da Microsoft você encontra planos bem legais\nhttps://www.microsoft.com/pt-br/microsoft-365#Plans:\n15. PODE ME RESUMIR COMO SÃO TODOS OS CURSOS DA COMUNIDADE?\nAhh que maneiro seu interesse pelos nossos cursos! Vou te explicar um pouquinho mais sobre eles:\nVão desde o absoluto zero  até o nível avançado. Você não precisa ter nenhum conhecimento prévio para fazer as aulas. Tudo o que você precisa aprender você encontrará nos nossos cursos completos;\nAlém das aulas, você também terá acesso ao material didático completo, com muitos exercícios de cada módulo e certificado de conclusão.\nSuporte a dúvidas. Dentro da própria plataforma das aulas, você poderá enviar todas as suas dúvidas referentes as ferramentas e anexar vídeos, arquivos, planilhas e tabelas. Nossa equipe de experts terá o maior prazer em te ajudar.\n \nNas respostas, sempre inclua o link correspondente ao curso perguntado para que a pessoa faça a inscrição.\nAlém disso, sempre responda formatando o texto em HTML válido, usando:\n- <br> para quebras de linha\n- <b> para negrito\n- <ul><li>...</li></ul> para listas\ne quaisquer outras formatações necessárias"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        -64
      ],
      "id": "f84e42a2-2748-4919-9533-6fc47b76d387",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.threadId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        208
      ],
      "id": "c86e6f80-5718-4e8f-bf66-2cc349ebe1dc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        -64
      ],
      "id": "2e514b5c-927c-43df-a662-45033b8f8a99",
      "name": "Reply to a message",
      "webhookId": "e2c7545e-a594-4754-8c97-7ba74fb77aa5",
      "credentials": {
        "gmailOAuth2": {
          "id": "M3tHVlSJw7zRYxBt",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        352,
        176
      ],
      "id": "44f25b4a-64e9-4ef2-9dc1-cc854bb7d2ab",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "BuDKxt2F9JSJkYnY",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19c2aa44c61f4d2c",
          "threadId": "19c2aa44c61f4d2c",
          "labelIds": [
            "UNREAD",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 6938,
          "headers": {
            "delivered-to": "Delivered-To: iamsuky854@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 956f58d0204a3-649dc3a6047sor1210940d50.0.2026.02.04.13.52.16\r\n        for <iamsuky854@gmail.com>\r\n        (Google Transport Security);\r\n        Wed, 04 Feb 2026 13:52:16 -0800 (PST)",
            "x-received": "X-Received: by 2002:a05:690c:d95:b0:793:afdd:c5d7 with SMTP id\r\n 00721157ae682-794fe63191cmr78558607b3.9.1770241935713; Wed, 04 Feb 2026\r\n 13:52:15 -0800 (PST)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1770241936; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=ZRaInJnFT7Q2i7sqJjDtId4FO4AXYjbypQUEe71O8UUOFffp4yiPMy3kmkc7qJhs8B\r\n         1AgBr64+vKrf16riEcooZu8GieTxLqvTpVDnUeJ2Z/iGg4j0MvPUJfjwULJURe3TyZZU\r\n         J3Caa4ydAsOm3v5TfOVqBs60wCaZ8zOyQq2geoZmtK7FcuSc2TJe7t2fSS1hjMue6/ae\r\n         K4Rx9THfnSHJZ43Nyss6YoLDi9CYGKGB6sP/k3FSkGck4wQb4G2G5fd1PYd+y1L0rbHJ\r\n         gPq3poldVqfNgdrTBOOqfxNzKGgIQ6yieUKkrmWpjskFmUtzAqGxhd8WeTphRsLHccXD\r\n         uyew==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=htqk3wfRGqS4IwN63uNSYmYByQhnJg30GzuCOrufoUk=;\r\n        fh=f7QcqFYSQg3tOL269KCM6Rz/kBC7xYDvhrgaU5NCj2M=;\r\n        b=h3JQlIdFooekxq+FgvSOuS47V2IXj83Neb5UV/k2Aq5SuQlZ3YTz4R3oN//bEwAp7G\r\n         AVAv1SesGYfkBiG8BBeeDxRlrp1pjwE0yQGyyJ0BZB8OYAONx1YrfcRNIw4UCOwhxsaT\r\n         B5a0P/z8Mm9xcN9LgwcAtD8+P1qw+EZLXVez4/odtyAsqYMgNYX3+LFGd6f3OHMRYo02\r\n         fCq44sZsmIOmCXp+Yf0otfQwdtN0exi8OtUOZdSMaZ+Qk8Mir5GH60KtUvU1S93B9C/S\r\n         P3s2briSPqLDWkHliM0ehj2LCJZ/jiESC/RbpaFXLWPs7LTvtYE3KNTbmB6A2T3JLk1k\r\n         to8Q==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com; arc=none",
            "return-path": "Return-Path: <giomfbarbosa@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of giomfbarbosa@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=VQAZ4VSR;\r\n       arc=pass (i=1);\r\n       spf=pass (google.com: domain of giomfbarbosa@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=giomfbarbosa@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1770241936; x=1770846736; dara=google.com;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=htqk3wfRGqS4IwN63uNSYmYByQhnJg30GzuCOrufoUk=;\r\n        b=VQAZ4VSRoqq9e34O1Bk9XOqVk2O8Dho7pIRelgC0Ib7SD8WsH+4Bfw14bn2mfgkL8Y\r\n         N/kRiPIzjwI4mhZCV0gL6RV7UlKuLdhYUXnWyO7jG0LWiMjiuWrqtKLJqOvCmru2k5Hu\r\n         5Ypb8qfWTEWYbFwjYw5/dqXOadSP/7H8kxlm894beG2EsLt00SNBD0Pv2PBf00C1+tGW\r\n         xWkITq71oCuqtqDkVCMJsI603yyw/g+C3gByKRInUOcJA85bG/lkqP+dRxdjQBflL1SX\r\n         Ik7DjsGjuNfm7JELTNBQrf01sjYsxfDP78I3Z8R32/yQJUwcguAFsnEWPWh2CnsITGW+\r\n         /ApQ==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1770241936; x=1770846736;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-gg\r\n         :x-gm-message-state:from:to:cc:subject:date:message-id:reply-to;\r\n        bh=htqk3wfRGqS4IwN63uNSYmYByQhnJg30GzuCOrufoUk=;\r\n        b=bBchMbpn5iYaL1p6nL2dIkdo3z6QvyH5fyX7SULeu4brR4BU5KOCRHRwL2mfgoho5i\r\n         N3tMNsOLkBGdg/7JJJl1HMv7prhl3qKrENiCHTjMmE+o0/p0uO2UJhd8cXgH4b6LSKXx\r\n         xq8LoBHPTL6I1PBONfT+jAtwR64oYEs1+KiLcQsOcaXlrqWKNslecOgchLPvpVXYZguP\r\n         f5Aqj88zhkNconLISDu045llUGDm2TLGXK3QkjBWeM8LcZn+NX0gZMFHpfwvVPfgh7fX\r\n         h5N77W4x3ZVhOrN36HxDEfzDZApdvliwALW/CIzU1InnmlPpGuUS/YB+2KLkcV8EODBL\r\n         msqw==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0Yx3dJP+m/1z+F1+MIUvMIf3jUAWgBV15g4CIJ8eqCep+DrOjHHf\r\n\tEsmzac95okYWB9tiyGzoAtvB33w6sWf+tY9AEQlHTUnmZwGBqfUZ+c3I/usY/ydNM498sgNUKaR\r\n\tp5Tpvqiwpzba0VOtnPoxNV7nT6WQgNTEzbQ==",
            "x-gm-gg": "X-Gm-Gg: AZuq6aLbRG2eYK33FP/rJewQkNMcmJLKzsGu1/KTqbM4MrJu9El5NeBykAysJ8518V1\r\n\tsgIrMwNs+HcnmfAyuTs0ljoMO/CVmcVuNR10aBqU3bjzKMm3nA0eiNIlBGx6A6KKxD6Fl6BQI4X\r\n\tSJZKZPlEBGOC9ENKVIxKuwGit7sZy4HDDeEiDLbilRV3Iaw2GAGlQ+VDuRVq91vu42ItByxOWpF\r\n\ta18sldR0uJQjFRZKK+bRVrRqZ8fqukZzIjfM/m31q/3M+XSnmoaMd7tw6nBWQjdjEyDpxSCV27I\r\n\tioWz4q8rzV6CoHJzwazQW16/K9ul",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: Giovanna Marques <giomfbarbosa@gmail.com>",
            "date": "Date: Wed, 4 Feb 2026 18:52:04 -0300",
            "x-gm-features": "X-Gm-Features: AZwV_QgkMlBWtpLYESFt2A6-C4-Pi3-JNHikIAPSppRuzVbtgXTsiDOiHaFigYQ",
            "message-id": "Message-ID: <CAN1d8Y0Q_4zNqBah5XG+gwomVVrVuwvmQHuKK8Zii9LfV0hwgQ@mail.gmail.com>",
            "subject": "Subject: AAAAAAAAA",
            "to": "To: \"iamsuky854@gmail.com\" <iamsuky854@gmail.com>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"000000000000beb841064a0691b3\""
          },
          "html": "<div dir=\"ltr\">AAAAAAAAAAAAAAAAAAAA</div>\n",
          "text": "AAAAAAAAAAAAAAAAAAAA\n",
          "textAsHtml": "<p>AAAAAAAAAAAAAAAAAAAA</p>",
          "subject": "AAAAAAAAA",
          "date": "2026-02-04T21:52:04.000Z",
          "to": {
            "value": [
              {
                "address": "iamsuky854@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:iamsuky854@gmail.com\" class=\"mp_address_email\">iamsuky854@gmail.com</a></span>",
            "text": "iamsuky854@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "giomfbarbosa@gmail.com",
                "name": "Giovanna Marques"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Giovanna Marques</span> &lt;<a href=\"mailto:giomfbarbosa@gmail.com\" class=\"mp_address_email\">giomfbarbosa@gmail.com</a>&gt;</span>",
            "text": "\"Giovanna Marques\" <giomfbarbosa@gmail.com>"
          },
          "messageId": "<CAN1d8Y0Q_4zNqBah5XG+gwomVVrVuwvmQHuKK8Zii9LfV0hwgQ@mail.gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6cf35b89-61ce-44f9-9938-2922ce2ffa0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8be5f0acb27ac1ba1db7a105b919371463eb95e081d8c160f371b6090cb43712"
  },
  "id": "nOqTH4Eljuq6S-HGAN4wu",
  "tags": []
}